extends ../template

block content
  .wrapper
    header.header
      .header__bg
      .intro__dec
        img(src="./images/line.png")
      .logo
        img.logo__img(src="./images/logo.png", alt="logo")
      .header__content
        img.header__img(src="./images/hero.png", alt="hero")
    section.intro
      .container.intro__container
        .row.d-flex.justify-content-md-start.justify-content-center
          .col.col-sm-8.col-md-4 SmartCool הינו פתרון מהיר ויעיל לכל מי שיש לו מקרר רגיל ורוצה להפוך אותו לחכם.
        .row.d-flex.justify-content-md-center.justify-content-center
          .col.col-sm-8.col-md-4 ישנה האפשרות לעקוב אחר כל המוצרים הנמצאים במקרר לרבות קופסאות מזון ומשקאות הנרכשים בסופרים השונים.
        .row.d-flex.justify-content-md-end.justify-content-center
          .col.col-sm-8.col-md-4 האפליקציה מפיקה למשתמש רשימת קניות המתעדכנת בזמן אמת ולבצע הזמנות און ליין.
    section.colors
      .container
        .section__title.colors__title
          span.cap צ
          span בעים
        .row.d-flex.justify-content-center.justify-content-sm-between
          .col-4.col-sm-1.d-flex.align-items-center.flex-column
            .color__circle
            p.colors__num #233d39
          .col-4.col-sm-1.d-flex.align-items-center.flex-column
            .color__circle
            p.colors__num #35605b
          .col-4.col-sm-1.d-flex.align-items-center.flex-column
            .color__circle
            p.colors__num #00ffd4
          .col-4.col-sm-1.d-flex.align-items-center.flex-column
            .color__circle
            p.colors__num #e6e5e6
          .col-4.col-sm-1.d-flex.align-items-center.flex-column
            .color__circle
            p.colors__num #144c49
    .section__wrap
      section.typography
        .container
          .row
            .col-12.col-md-6.proto-wrap
              .typography__img
                img(src="./images/tel.png", alt="Tel")#Proto
              div(class="protoio-embed-prototype" data-code="GWQCKT" data-show-sidebuttons="light" style="width: 100%; height: 800px;") 
              script(async src="https://static.proto.io/api/widget-embed.js")
            .col-12.col-md-6
              .section__title.typography__title 
                span.cap ט
                span יפוגרפיה
              .typography__desc
                .typography__desc-title NarkisTamMF
                .typography__desc-text א ב ג ד ה ו ז ח ט י כ ל מ נ ס ע פ צ ק ר ש ת
      section.icons
        .container
          .row
            .section__title.icons__title 
              span.cap א
              span ייקונים
          .row.justify-content-center
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/8.png", alt="icon").icons__img
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/7.png", alt="icon").icons__img
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/6.png", alt="icon").icons__img
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/5.png", alt="icon").icons__img
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/4.png", alt="icon").icons__img
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/3.png", alt="icon").icons__img
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/2.png", alt="icon").icons__img
            .col-4.col-sm-4.col-md-3.col-lg.icons__pic
              img(src="./images/icons/1.png", alt="icon").icons__img
  footer.footer
    .footer__pic
      img(src="./images/screen.png", alt="screen")
    .footer__desc
      p.footer__author מעיין כהן
      p.footer__copyright עיצוב מדיה 2018
