extends ../template

block content
  .wrapper
    header.header
      .logo
        img.logo__img(src="./images/logo.png", alt="logo")
      .header__content
        img.header__img(src="./images/hero.png", alt="hero")
    section.intro
      .container.intro__container
        .row.d-flex.justify-content-start
          .col-4 SmartCool הינו פתרון מהיר ויעיל לכל מי שיש לו מקרר רגיל ורוצה להפוך אותו לחכם.
        .row.d-flex.justify-content-center
          .col-4 ישנה האפשרות לעקוב אחר כל המוצרים הנמצאים במקרר לרבות קופסאות מזון ומשקאות הנרכשים בסופרים השונים.
        .row.d-flex.justify-content-end
          .col-4 האפליקציה מפיקה למשתמש רשימת קניות המתעדכנת בזמן אמת ולבצע הזמנות און ליין.
