include ./config/mixin
include ./config/var

block variables
  - var title = 'Home page'

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="description")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="" name="keywords")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='shortcut icon' type='image/x-icon' href='./images/favicon.ico')
    link(rel='stylesheet' href='./styles/main.min.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet")
    script(src='./scripts/main.bundle.js' defer)
  body
    block content