@font-face {
  font-family: 'handlee';
  src: url('../fonts/handlee-regular-webfont.woff2') format('woff2'),
        url('../fonts/handlee-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
