@import "vars";
@import "fonts";
@import "libs";

body {
  direction: rtl;
  font-family: "handlee", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.logo {
  padding-bottom: 40px;
  padding-top: 100px;
  width: 25%;
  margin: auto;
}

.header__content {
  margin: auto;
  width: 57%;
}

.container.intro__container .row.d-flex {
  counter-increment: nums;
}

.intro__container .row .col-4 {
  margin-bottom: 80px;
  position: relative;
  text-align: right;
  font-size: 24px;
  padding-right: 25px;
  padding-left: 25px;

  &::before {
    position: absolute;
    bottom: -90px;
    right: -140px;
    content: counter(nums);
    font-family: 'Open Sans', sans-serif;
    font-size: 280px;
    opacity: .4;
  }
}

@import "media"; // Always at the end
